@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root{
    --photo-header: url("/pagina mibu 2/img/Screenshot 2023-12-10 at 1.43.56 PM.png");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* ----------   BODY     ----------*/

body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    place-items: center;
    height: 100vh;
    place-items: center;
    /*background: linear-gradient(315deg, #ffffff, #d7e1ec);*/
}


img {
    left: 0;
    top: 0;
    width: 100%;
    height: auto; /* Mantiene las proporciones originales de la imagen */
    display: block; /* Elimina espacio adicional debajo de la imagen */
}


/* --------- CABECERA ------------ */


header {
    background: var(--photo-header) no-repeat center center fixed;
    background-size: cover;
    font-size: 20px;
    height: 70px; /*120 con el logo*/
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.logo-centered{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* La imagen no excederá su tamaño original */
    /* Ajusta el tamaño de la imagen según tus necesidades */
    width: 200px;
    height: auto; /* La altura se ajustará automáticamente para mantener las proporciones */
}

/*-------------- MENU DE CABECERA ------------*/

a{
    color: inherit; /* Heredar el color del texto del elemento padre */
    text-decoration: none; /* Eliminar la subrayado por defecto */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón para indicar que es un enlace interactivo */
}

/* Estilo para los enlaces al pasar el ratón */
a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
    text-decoration: none;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav{

    /*modificacion nueva*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    box-shadow: 
        0 0 10px
        rgb(0 0 0 / 0%);/*cambio de 8 a 0*/
}


.menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /*cambio estaba en stretch*/
    height:70px;
}

.menu li{
    display: inline-block;
    width: auto; /*antes estaba a 90px*/
    /*de aqui para abajo no estaba*/
    margin: 0 10px;
    text-align: center;
    line-height: 70px;
}

/*este bloque antes no estaba*/


.menu li:hover .submenu{
    height: 85px; /*85px*/
    top: 55px; /*cambio*/
}

.menu > li:hover > a{
    color: #3e95ff;
}

.menu > li:hover > a::before{
    visibility: visible;
    scale: 1 1;
}

.submenu{
    top: 55px; /*Cambio, antes no estaba*/
    overflow: hidden;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background: #3e95ff;
    height: 0;
    line-height: 40px; /*40 px*/
    box-sizing: border-box;
    transition: 
        height 0.3s
        ease-in-out;
}

.menu li .submenu a{
    top: 25%;/*Cambio antes no estaba*/
    color: #fff;
    opacity: 0;
    font-size: 20px;
    transition: opacity 0.25s;
}

.menu > li:hover .submenu a{
    opacity: 1;
}

.menu > li .submenu a:hover{
    background: rgb(0 0 0 / 20%);
}

.menu > li a{
    color: #999;
    position: relative;
    height: 100%;
}

.menu > li > a::before{
    top: 25px;/*cambio*//*segundo cambio antes estaba en 25px*/
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 3px;
    left: 0px;
    background: #3e95ff;
    transition: 
        all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
}




/*********/


/*
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 10px;
}
*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4895ef;
    text-align: center;
    padding: 3px;

    opacity: 0;
    transition: transform .3s ease, opacity .3s ease;/*le estamos agregando la transicion que dure 0.3 segundo y con ease osea rapido*/
    /*de arriba, que no se mueva en x pero en y a -100%*/
    transform: translate(0,100%); /*recibe x y y, como quiero que se mueva respecto a x y y*/
    /*de abajo
    transform: translate(0,100%);
    que salga de la derecha
    transform: translate(100%, 0)
    que salga de la izquierda
    transform: translate(-100%, 0)
    */
}

.footer.is-active{
    transform: translate(0,0);
    opacity: 1;
}


/**** REDES SOCIALES  **/

/*
.wrapper {
    display: inline-flex;
    list-style: none;
}
*/

.wrapper {
    display: flex;
    list-style: none;
    margin-left: 80px;
}

.wrapper li {
    margin-left: 10px; /* Ajusta el espacio entre los íconos si lo deseas */
}
  
.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%; /*50*/
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook {
    --color: #1877f2;
}
.instagram {
    --color: #e4405f;
}
.youtube {
    --color: #cd201f;
}
.spotify{
    --color: #1DB954;
}
.deezer{
    --color: #ff6000;
}

.icon:hover,
.icon:hover .tooltip,
.icon:hover .tooltip::before {
    background: var(--color);
    color: white;
}

/*************  Formulario  ******************/

.contact-form{
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.contact-form > *{
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;

}

.contact-form textarea{
    resize: none;
}

.contact-form legend,
.contact-form-response{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.contact-form input,
.contact-form textarea{
    font-size: 1rem;
    font-family: sans-serif;
}

.contact-form input[type="submit"]{
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}

.contact-form [required]:valid {
    border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
    border: thin solid var(--form-error-color);
}

#contacto{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #1877f2;
}